BODY {
  font-family: "宋体";
  font-size: 10.5pt;
  margin: 2px 2px 2px 2px;
  background-color:white;
}

A:link {
  color: navy;
  text-decoration: none;
}

A:visited {
  color: navy;
  text-decoration: none;
}

A:hover {
  color: red;
  text-decoration: underline;
}

A:active {
  color: red;
}

A.link-title {
  font-size: 9pt;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

A.link-title:link {
  color: White;
  text-decoration: none;
}

A.link-title:visited {
  color: White;
  text-decoration: none;
}

A.link-title:hover {
  color: White;
  text-decoration: underline;
}

A.link-title:active {
  color: White;
}

A.link-title2 {
  font-size: 9pt;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

A.link-title2:link {
  color: ffaa22;
  text-decoration: none;
}

A.link-title2:visited {
  color: ffaa22;
  text-decoration: none;
}

A.link-title2:hover {
  color: ffaa22;
  text-decoration: underline;
}

A.link-title2:active {
  color: ffaa22;
}

A.content-list-group-link:link {
  font-family: "宋体";
  font-size: 9pt;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 3px;
  height: 1px;
  color: gray;
  text-decoration: none;
}

A.content-list-group-link:visited {
  color: gray;
  text-decoration: none;
}

A.content-list-group-link:hover {
  color: navy;
  text-decoration: underline;
}

A.content-list-group-link:active {
  color: gray;
  text-decoration: none;
}

TD.menu-title {
  font-family: "宋体";
  font-size: 10.5pt;
  text-align: center;
  padding-left: 10px;
  padding-top: 5px;
  background-image: url(images/user-back.gif)
}

TD.menu-item {
  font-family: "宋体";
  font-size: 9pt;
  height: 21px;
  background-color: white;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

TD.menu-item-selected {
  font-family: "宋体";
  font-size: 9pt;
  height: 19px;
  padding-left: 20px;
  padding-top: 4px;
  background-color: #ddffbb;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

TD.content-title {
  font-family: "宋体";
  font-size: 12pt;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  color: #336699;
  height: 1px;
}

TD.content-split {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #444444;
  background-color: #336699;
  font-size: 0pt;
  height: 5px;
}

TD.content-space {
  font-size: 0pt;
  height: 8px;
}

TD.content-space2 {
  font-size: 0pt;
  height: 16px;
}

TD.content-line {
  font-family: "宋体";
  font-size: 9pt;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 10px;
  height: 1px;
}

TD.content-list-group {
  font-family: "宋体";
  font-size: 9pt;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 3px;
  height: 1px;
  color: black;
  background-color: #FFFFDD;
  border-bottom: 1px solid #888888;
}

TD.content-list-group2 {
  font-family: "宋体";
  font-size: 9pt;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 3px;
  height: 1px;
  color: white;
  background-color: #888888;
}

TD.content-list-head {
  font-family: "宋体";
  font-size: 9pt;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 3px;
  height: 1px;
  background-color: White;
  border-bottom: 1px solid black;
}

TD.content-list-head-even {
  font-family: "宋体";
  font-size: 9pt;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 3px;
  height: 1px;
  background-color: #DDDDDD;
  border-bottom: 1px solid black;
}

TD.content-list-head-odd {
  font-family: "宋体";
  font-size: 9pt;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 3px;
  height: 1px;
  background-color: #DDDDDD;
  border-bottom: 1px solid black;
}

TD.content-list-select {
  font-family: "宋体";
  font-size: 9pt;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 2px;
  height: 1px;
  background-color: White;
  border-top: 1px solid black;
}
TD.content-list-even {
  font-family: "宋体";
  font-size: 9pt;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 2px;
  height: 1px;
  background-color: White;
}

TD.content-list-odd {
  font-family: "宋体";
  font-size: 9pt;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 2px;
  height: 1px;
  background-color: #EEEEEE;
}

LI.content {
  list-style-image: url(images/content-list.gif);
  padding-top: 0px;
  padding-bottom: 7px;
}

INPUT.text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "宋体";
  font-size: 9pt;
  border: 0;
  border: solid 1px #888888;
  background-color: #ffffdd;
  ime-mode:active;
}

INPUT.logon {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "宋体";
  font-size: 9pt;
  border: 0;
  border: solid 1px #888888;
  background-color: #ffffdd;
  WIDTH: 150px;
}

TEXTAREA.text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "宋体";
  font-size: 9pt;
  border: 0;
  border: solid 1px #888888;
  background-color: #ffffdd;
  ime-mode:active;
}

SELECT.text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "宋体";
  font-size: 9pt;
  border-bottom: solid 1px #dddddd;
  border-left: solid 1px #444444;
  border-right: solid 1px #dddddd;
  border-top: solid 1px #444444;
  background-color: #ffffdd;
}

INPUT.button {
  font-family: "宋体";
  font-size: 9pt;
  background-color: #336699;
  font-weight: bold;
  width:76px;
  color: White;
  padding-bottom: 0px;
  padding-top: 3px;
}
INPUT.select {
  font-family: "宋体";
  font-size: 8pt;
  background-color: #336699;

  width: 50px;
  height:25px;
  color: White;
  padding-bottom: 1px;
  padding-top: 3px;
}

A.link-menu {
  width: 100%;
  height: 100%;
  color: black;
  padding-left: 20px;
  padding-top: 4px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  text-decoration: none;
}

A.link-menu:link {
  color: black;
  text-decoration: none;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

A.link-menu:visited {
  color: black;
  text-decoration: none;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

A.link-menu:hover {
  color: black;
  padding-top: 3px;
  background-color: #eeeeee;
  border-top: solid 1px #888888;
  border-bottom: solid 1px #888888;
  text-decoration: none;
}

A.link-menu:active {
  color: black;
  text-decoration: none;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

A.link-tab {
  font-size: 9pt;
  text-decoration: none;
}

A.link-tab:link {
  color: gray;
  text-decoration: none;
}

A.link-tab:visited {
  color: gray;
  text-decoration: none;
}

A.link-tab:hover {
  color: gray;
  text-decoration: underline;
}

A.link-tab:active {
  color: gray;
}

INPUT.text-fixed {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "宋体";
  font-size: 9pt;
  border: 0px;
  border-bottom: solid 1px #bbbbbb;
  color: navy;
}

SELECT.text-fixed {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "宋体";
  font-size: 9pt;
  border: 0px;
  border-bottom: solid 1px #bbbbbb;
  color: navy;
}

TD.content-space12 {
  font-size: 0pt;
  height: 8px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}

TD.content-space22 {
  font-size: 0pt;
  height: 16px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}

TD.content-space32 {
  font-size: 0pt;
  height: 8px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  border-top: 1px solid #888888;
}

TD.content-line2 {
  font-family: "宋体";
  font-size: 9pt;
  padding-right: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
  height: 1px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}

TD.content-line3 {
	BORDER-RIGHT: #888888 0px solid; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 20px; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 0px; 
	BORDER-LEFT: #888888 1px solid; 
	PADDING-TOP: 10px; 
	FONT-FAMILY: "宋体"; 
	HEIGHT: 1px;
}
TD.content-line4 {
	BORDER-LEFT: #888888 0px solid; 
	BORDER-RIGHT: #888888 1px solid; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 20px; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 10px; 
	FONT-FAMILY: "宋体"; 
	HEIGHT: 1px;
}

TD.content-split-thin {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 2px;
  font-size: 9pt;
  height: 20px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  background-color: #dddddd;
}
TD.content-split-thin2 {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 2px;
  font-size: 9pt;
  height: 20px;
  border-left: 0px solid #888888;
  border-right: 1px solid #888888;
  background-color: #dddddd;
}

TD.content-split-thin1 {
  border-top: 0px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 2px;
  font-size: 9pt;
  height: 20px;  
   border-left: 0px solid #888888;
  border-right: 0px solid #888888;
  background-color: #dddddd;
}
TD.content-split-thin3 {
  border-top: 0px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 2px;
  font-size: 9pt;
  height: 20px;  
   border-left: 0px solid #888888;
  border-right: 0px solid #888888;
  background-color: #dddddd;
}
TD.content-split-thin4 {
  border-top: 0px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 2px;
  font-size: 9pt;
  height: 20px;  
   border-left: 0px solid #888888;
  border-right: 1px solid #888888;
  background-color: #dddddd;
}


table.ca {
  font-family: Tahoma;
  font-size: 9pt;
  border: 1px solid black;
}

table.ca_head {
  font-family: Tahoma;
  font-size: 9pt;
  width: 100%;
  height: 100%;
  background-color: buttonface;
  border: 1px outset;
}

table.ca_days {
  font-family: Tahoma;
  font-size: 9pt;
  width: 100%;
  height: 100%;
  border: 1px outset;
}

td.ca_btn {
  font-family: Webdings;
  font-size: 9pt;
  cursor: hand;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.ca_year {
  font-family: Tahoma;
  font-size: 9pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: windowtext;
  text-align: center;
}

td.ca_month {
  font-family: Tahoma;
  font-size: 9pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: windowtext;
  text-align: center;
}

td.ca_day {
  font-family: Tahoma;
  font-size: 9pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: window;
  color: windowtext;
  text-align: right;
  border: 1px solid window;
}

td.ca_day_h {
  font-family: Tahoma;
  font-size: 9pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: threedshadow;
  color: buttonface;
  text-align: center;
  border: 1px solid threedshadow;
}

td.ca_day_today {
  font-family: Tahoma;
  font-size: 9pt;
  cursor: hand;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: infobackground;
  color: blue;
  border: 1px solid black;
  text-align: right;
}

td.ca_day_hover {
  font-family: Tahoma;
  font-size: 9pt;
  cursor: hand;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: highlight;
  color: highlighttext;
  text-align: right;
  border: 1px solid higlight;
}

td.ca_day_select {
  font-family: Tahoma;
  font-size: 9pt;
  cursor: hand;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: highlighttext;
  color: highlight;
  text-align: right;
  border: 1px solid higlight;
}

FORM {
  padding: 0px;
  margin: 0px;
}
SPAN.text {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "宋体";
  font-size: 9pt;
  border: 0;
  border: solid 1px #888888;
  background-color: #ffffdd;
}

.td0{border-left:1px solid #888888;border-top:1px solid #888888;}
.td1{border-left:1px solid #888888;border-top:1px solid #888888;}
.td2{border-left:1px solid #888888;border-top:1px solid #888888;}
.td3{border-left:1px solid #888888;border-top:1px solid #888888;}
.td4{font-size:9.0pt;text-align:center;vertical-align:middle;background:#FFFFFF;white-space:normal;}
.th0{font-size:9.0pt;font-weight:700;text-align:center;vertical-align:middle;background:#FFFF99;white-space:normal;}
.thin{background:#000000}
TD.content-list-group3 {
  font-family: "宋体";
  font-size: 9pt;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 3px;
  height: 1px;
  color: black;
  background-color: #FFFF99;
  border-bottom: 1px solid #888888;
}
TD.content-list-tab1 { 
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 2px;
  font-size: 9pt;
  border-left: 1px solid #888888;
  border-right: 0.5px;
  background-color: #ffcc99; 
  border-style: solid solid none; 
  padding-right: 20px; 
  padding-left: 20px; 
}
TD.content-list-tab2 { 
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding-top: 2px;
  font-size: 9pt;
  border-left: 1px solid #888888;
  border-right: 0.5px;
  background-color: #dddddd; 
  border-style: solid; 
  padding-right: 20px; 
  padding-left: 20px; 
  color:#dddddd;
 }
TD.content-list-tab3 { 
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
   border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  background-color: #dddddd; 
  border-style: solid solid solid;
  border-color:#888888;
 }
 